/* inter-300 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/inter-v13-cyrillic_latin-300.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('../fonts/inter-v13-cyrillic_latin-300.woff') format('woff'),
        /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */


}

/* inter-regular - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v13-cyrillic_latin-regular.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('../fonts/inter-v13-cyrillic_latin-regular.woff') format('woff'),
        /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
}

/* inter-600 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/inter-v13-cyrillic_latin-600.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('../fonts/inter-v13-cyrillic_latin-600.woff') format('woff'),
        /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
}

/* Fonts end */

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #000;
}

.wrapper {
    max-width: 1270px;
    margin: 0 auto;
}

/* Header style start */

.header {
    background-color: #D9D9D9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding-top: 32px;
    padding-bottom: 38px;
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.header__nav-list {
    display: flex;
    flex-wrap: wrap;
}

.header__nav-item{
    margin-right: 20px;
}

.header__nav-item:last-child{
    margin-right: 0px;
}

.header__nav-link{
    text-decoration: none;
    color: #000 ;
    line-height: 18px;
}

.header__nav-link:hover, .header__nav-link:focus, .header__nav-link:active{
    /* background-color: #D9D9D9; */
    opacity: 0.5;
}

/* Header style end */

/* Intro style start */

.intro{
    background-color: #D9D9D9;
    padding-top: 225px;
    padding-bottom: 130px;
    
}

.intro__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.intro__left-side{
    max-width: 400px;
}

.intro__right-side{
    max-width: 670px;
}

.intro__text-title{
    font-size: 48px;
    font-weight: 600;
    line-height: 68px;
    margin-bottom: 40px;
}

.intro__text-subtitle{
    color: #353535;
    font-size: 18px;
    font-weight: 300;
    padding-left: 5px;
    margin-bottom: 30px;
}

.intro__button{
    background-color: #BA145A;
    width: 250px;
    min-height: 45px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 400;
    border: 0;
}

.intro__button:hover{
    opacity: 0.7;
    background-color: #b90b54;
}

.intro__button-text{
    color: #FFF;
}

/* Intro style end */

/* Intro style start */



/* Intro style end */